@import url('./__logo-zone/resources__logo-zone.css');
@import url('./__logo/resources__logo.css');

.resources {
  margin: 0 auto;
  padding: 100px 0 217px 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
