.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #000;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.feinman__link:hover {
  text-decoration: underline;
  color: #2f80ed;
}
